<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zhjh.mapper.SysDeptMapper">

  <sql id="listSql">
    select
      sd.*
    from sys_dept sd
    where sd.deleted = 0
    order by sd.sort, sd.created_time desc
  </sql>

  <select id="list" resultType="top.zhjh.model.vo.SysDeptPageVO">
    <include refid="listSql"/>
  </select>

  <select id="page" resultType="top.zhjh.model.vo.SysDeptPageVO">
    <include refid="listSql"/>
  </select>

  <sql id="listTreeSql">
    select
      sd.id,
      sd.created_time createdTime,
      sd.name,
      sd.parent_id parentId,
      sd.sort,
      sd.status
    from sys_dept sd
    where sd.deleted = 0
    <if test="name != null and name != ''">
      and sd.name like concat('%', #{name}, '%')
    </if>
    <if test="status != null">
      and sd.status = #{status}
    </if>
    <if test="roleCodes != null">
      and sd.id in (
        select dept_id from sys_role_dept where role_id in (
          select id from sys_role where code in
          <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
            #{roleCode}
          </foreach>
        )
        <if test="dataScopeActionType != null">
          and data_scope_action_type = #{dataScopeActionType}
        </if>
      )
    </if>
    order by sd.sort, sd.created_time desc
  </sql>

  <resultMap id="listTreeMap" type="top.csaf.tree.TreeNode">
    <result column="status" property="status" javaType="java.lang.Integer"/>
    <result column="createdTime" property="createdTime" javaType="java.time.LocalDateTime"/>
  </resultMap>

  <select id="listTree" resultMap="listTreeMap">
    <choose>
      <when test="isAllAndChecked">
        select
        sd.id,
        sd.created_time createdTime,
        sd.name,
        sd.parent_id parentId,
        sd.sort,
        sd.status,
        case
          when sd.id in (select id from (<include refid="listTreeSql"/>) t) then true
          else false
        end as checked
        from sys_dept sd
        where sd.deleted = 0
      </when>
      <otherwise>
        <include refid="listTreeSql"/>
      </otherwise>
    </choose>
  </select>

  <select id="listChildrenIds" resultType="java.lang.Long">
    SELECT id
    FROM sys_dept
    WHERE id = #{deptId}
    OR ancestors LIKE concat('%,', #{deptId}, ',%')
    OR ancestors LIKE concat(#{deptId}, ',%')
    OR ancestors LIKE concat('%,', #{deptId})
  </select>
</mapper>
