<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhjh.mapper.SysMenuMapper">

  <sql id="listTreeSql">
    select
      id,
      name,
      order_num as 'order',
      parent_id as parentId,
      icon,
      path
    from sys_menu
    where deleted = 0
    <if test="roleCodes != null">
      and id in (
        select menu_id from sys_role_menu where role_id in (
          select id from sys_role where code in
          <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
            #{roleCode}
          </foreach>
        )
      )
    </if>
    <if test="types != null">
      <foreach collection="types" item="type" open="and (" separator="or" close=")">
        type = #{type}
      </foreach>
    </if>
    order by order_num
  </sql>

  <select id="listTree" resultType="top.csaf.tree.TreeNode">
    <choose>
      <when test="isAllAndChecked">
        select
          sm.id,
          sm.name,
          sm.order_num as 'order',
          sm.parent_id as parentId,
          sm.icon,
          sm.path,
          case
            when sm.id in (select id from (<include refid="listTreeSql"/>) t) then true
            else false
          end as checked
        from sys_menu sm
        where sm.deleted = 0
      </when>
      <otherwise>
        <include refid="listTreeSql"/>
      </otherwise>
    </choose>
  </select>
</mapper>
