<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zhjh.mapper.SysUserMapper">
  <select id="listRoleCodes" resultType="java.lang.String">
    select code from sys_role
    where deleted = 0
    and id in (
      select role_id from sys_role_user where user_id = #{id}
    )
  </select>

  <select id="listPermission" resultType="java.lang.String">
    select permission from sys_menu
    where deleted = 0
    and id in (
      select menu_id from sys_role_menu where role_id in (
        select role_id from sys_role_user where user_id = #{id}
      )
    )
  </select>

  <sql id="listSql">
    select
      su.id,
      su.username,
      su.nick_name,
      su.created_time,
      su.role_ids,
      su.role_names,
      su.dept_ids,
      su.dept_names,
      su.post_ids,
      su.post_names,
      su.tenant_ids,
      su.tenant_names
    from sys_user su
    where su.deleted = 0
    <if test="nickName != null and nickName != ''">
      and su.nick_name = #{nickName}
    </if>
    <if test="username != null and username != ''">
      and su.username = #{username}
    </if>
    <if test="tenantId != null and tenantId > 0">
      and json_contains(su.tenant_ids, #{tenantId})
    </if>
    group by su.id
  </sql>

  <resultMap id="listMap" type="top.zhjh.model.vo.SysUserPageVO">
    <result property="roleIds" column="role_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="roleNames" column="role_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="deptIds" column="dept_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="deptNames" column="dept_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="postIds" column="post_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="postNames" column="post_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="tenantIds" column="tenant_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="tenantNames" column="tenant_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
  </resultMap>

  <select id="list" resultMap="listMap">
    <include refid="listSql"/>
  </select>

  <select id="page" resultMap="listMap">
    <include refid="listSql"/>
  </select>

  <resultMap id="getDetailMap" type="top.zhjh.model.vo.SysUserDetailVO">
    <result property="roleNames" column="role_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="deptNames" column="dept_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="postNames" column="post_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="tenantNames" column="tenant_names" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
  </resultMap>

  <select id="getDetail" resultMap="getDetailMap">
    select
        su.id,
        su.username,
        su.nick_name,
        su.created_time,
        su.role_names,
        su.dept_names,
        su.post_names,
        su.tenant_names
      from sys_user su
      where su.deleted = 0 and su.id = #{id}
      group by su.id
  </select>
</mapper>
