<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zhjh.mapper.SysUserMapper">
  <select id="listRoleCodes" resultType="java.lang.String">
    select code from sys_role
    where deleted = 0
    and id in (
      select role_id from sys_role_user where user_id = #{id}
    )
  </select>

  <select id="listPermission" resultType="java.lang.String">
    select permission from sys_menu
    where deleted = 0
    and id in (
      select menu_id from sys_role_menu where role_id in (
        select role_id from sys_role_user where user_id = #{id}
      )
    )
  </select>

  <sql id="listSql">
    select
      su.id,
      su.username,
      su.nick_name,
      su.created_time,
      group_concat(sr.id order by sr.sort) as roleIds,
      group_concat(sr.name order by sr.sort) as roleNames,
      group_concat(sp.id order by sp.sort) as postIds,
      group_concat(sp.name order by sp.sort) as postNames
    from sys_user su
    left join sys_role_user sru on su.id = sru.user_id
    left join sys_role sr on sru.role_id = sr.id
    left join sys_post_user spu on su.id = spu.user_id
    left join sys_post sp on spu.post_id = sp.id
    where su.deleted = 0
    group by su.id
  </sql>

  <resultMap id="listMap" type="top.zhjh.model.vo.SysUserPageVO">
    <result property="roleIds" column="roleIds" typeHandler="top.zhjh.mybatis.handler.CommasToLongListTypeHandler"/>
    <result property="roleNames" column="roleNames" typeHandler="top.zhjh.mybatis.handler.CommasToStrListTypeHandler"/>
    <result property="postIds" column="postIds" typeHandler="top.zhjh.mybatis.handler.CommasToLongListTypeHandler"/>
    <result property="postNames" column="postNames" typeHandler="top.zhjh.mybatis.handler.CommasToStrListTypeHandler"/>
  </resultMap>

  <select id="list" resultMap="listMap">
    <include refid="listSql"/>
  </select>

  <select id="page" resultMap="listMap">
    <include refid="listSql"/>
  </select>

  <resultMap id="getDetailMap" type="top.zhjh.model.vo.SysUserDetailVO">
    <result property="roleNames" column="roleNames" typeHandler="top.zhjh.mybatis.handler.CommasToStrListTypeHandler"/>
    <result property="postNames" column="postNames" typeHandler="top.zhjh.mybatis.handler.CommasToStrListTypeHandler"/>
  </resultMap>

  <select id="getDetail" resultMap="getDetailMap">
    select
      su.*,
      group_concat(sr.name order by sr.sort) as roleNames,
      group_concat(sp.name order by sp.sort) as postNames
      from sys_user su
      left join sys_role_user sru on su.id = sru.user_id
      left join sys_role sr on sru.role_id = sr.id
      left join sys_post_user spu on su.id = spu.user_id
      left join sys_post sp on spu.post_id = sp.id
      where su.deleted = 0 and su.id = #{id}
      group by su.id
  </select>
</mapper>
